name: Deploy to Azure Web App - AllForOnecl

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: windows-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.x"

      - name: Build
        run: dotnet build ./TODOV4.csproj --configuration Release

      - name: Publish
        run: dotnet publish ./TODOV4.csproj -c Release -o publish

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_DE4E2BE331A740439BA091D2C011326C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_C655B5981B184A16994C4F79B6603B0C }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_251ACBAFD006425A9F74C61902066428 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "AllForOnecl"
          slot-name: "Production"
          package: publish
